@charset "UTF-8";
.conteiner {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .conteiner {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 808px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1240px;
  }
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8px;
}

.header {
  background-color: #84a178;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 28px;
  padding: 32px 0 12px 0;
}
.nav-links .nav-link:hover {
  color: #F8D24E;
}
.nav-links .nav-link:focus {
  color: #FFF;
}
@media screen and (max-width: 1200px) {
  .nav-links {
    display: none;
  }
}

.nav-link {
  text-decoration: none;
  color: #FCFCFC;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
}

.btn {
  background-color: #F8D24E;
  color: #000;
  font-family: "Montserrat";
  font-style: normal;
  line-height: normal;
  border: none;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 35px 12px 36px;
  margin-top: 0;
  border-radius: 10px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  -webkit-transition: background 250ms ease;
  transition: background 250ms ease;
}
.btn:hover {
  background: #0a8817;
  cursor: pointer;
}
.btn:active {
  color: #FFF;
  background: #0a8817;
  fill: #fff;
}
@media screen and (max-width: 767px) {
  .btn {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .btn {
    margin-left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .btn {
    margin-top: 20px;
  }
}

.btn-burger {
  background-color: transparent;
  margin-left: auto;
}
.btn-burger .burger-menu {
  fill: #fff;
}
.btn-burger .burger-menu .close-icon {
  display: none;
}
@media screen and (min-width: 1200px) {
  .btn-burger {
    display: none;
  }
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 200px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media screen and (max-width: 1199px) {
  .header-navigation {
    display: none;
  }
}

.icon-logo {
  width: 40px;
  height: 37px;
}
@media screen and (min-width: 480px) {
  .icon-logo {
    width: 48px;
    height: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .icon-logo {
    width: 60px;
    height: 65px;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  fill: #F8D24E;
}

.hero {
  background-color: #84a178;
}

.hero-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../image/Крапки-mobile-320.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 320px;
  position: relative;
}

.title-p {
  padding-top: 50px;
  color: #FCFCFC;
  font-family: "Seymour One";
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.52px;
  text-transform: uppercase;
  width: 367px;
}
@media screen and (min-width: 480px) {
  .title-p {
    padding-top: 40px;
  }
}
@media screen and (min-width: 768px) {
  .title-p {
    padding-top: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .title-p {
    padding-top: 45px;
  }
}
@media screen and (max-width: 1199px) {
  .title-p {
    font-family: Seymour One;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.04px;
    text-transform: uppercase;
    width: 247px;
  }
  .title-p .content-paragraph {
    display: block;
    width: 247px;
    font-family: "Seymour One";
    font-size: 33px;
    font-style: normal;
    line-height: 96.5%;
    text-transform: uppercase;
  }
}

.block-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .title {
    padding-bottom: 150px;
  }
}

.btn-hero {
  color: #131313;
  text-align: center;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  padding: 12px 34px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  outline: 3px solid #F8D24E;
}
@media screen and (max-width: 1199px) {
  .btn-hero {
    color: #131313;
    font-size: 12px;
    line-height: normal;
    padding: 11px 26px;
  }
}

.btn-link-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 12px;
  margin-top: 28px;
}

.link-hero {
  color: #F8D24E;
  text-align: center;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  padding: 12px 22px;
  border: none;
  background-color: transparent;
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
}
.link-hero:hover {
  color: #0A8817;
}
@media screen and (max-width: 1199px) {
  .link-hero {
    font-size: 12px;
    padding: 7px 0 7px 6px;
  }
}

.pescture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin-top: 42px;
}

.descrp-ice {
  color: #FFF;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  width: 200px;
  padding-top: 67px;
  padding-bottom: 24px;
}
@media screen and (max-width: 1199px) {
  .descrp-ice {
    color: #FCFCFC;
    font-family: Seymour One;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.04px;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1199px) {
  .picrure-descrp {
    display: none;
  }
}

.price-ice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.price-title {
  text-align: end;
  margin-top: 53px;
}
@media screen and (max-width: 1199px) {
  .price-title {
    display: none;
  }
}

.first-pr {
  margin-bottom: 16px;
}

.price {
  color: #131313;
  text-align: right;
  font-family: Montserrat;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.84px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.name {
  color: #FCFCFC;
  text-align: right;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.big-peacture {
  padding-top: 31px;
  display: block;
}
@media screen and (max-width: 1199px) {
  .big-peacture {
    padding-right: 7px;
    padding-top: 19px;
  }
}
@media screen and (min-width: 480px) {
  .big-peacture {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 0;
  }
}

.produsts {
  padding: 60px 0;
  background-image: url(../image/background-section.jpg);
  background-size: contain;
}

.title-products {
  color: #131313;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.name-section {
  color: #131313;
  text-align: center;
  font-family: "Seymour One";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 148px;
}

.products-block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 168px;
}

.title-block {
  color: #131313;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.descrp-block {
  color: #131313;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 176%;
  letter-spacing: 0.56px;
}

.icon-strelka {
  fill: #131313;
  display: block;
  margin: 100px auto 0 auto;
}
@media screen and (min-width: 480px) {
  .icon-strelka {
    margin: 106px auto 0 auto;
  }
}

.ice-coffee-block {
  border-radius: 24px;
  background: #EFD478;
  position: relative;
}
.ice-coffee-block::before {
  content: "";
  position: absolute;
  top: -98px;
  left: 40px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(248, 210, 78, 0.7)), to(rgba(248, 210, 78, 0.7))), #D9D9D9;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7) 0%, rgba(248, 210, 78, 0.7) 100%), #D9D9D9;
  -webkit-filter: drop-shadow(0px 5.404px 20.265px rgba(153, 114, 23, 0.25));
          filter: drop-shadow(0px 5.404px 20.265px rgba(153, 114, 23, 0.25));
}
.ice-coffee-block::after {
  content: "";
  position: absolute;
  top: -108px;
  left: 40px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url(../image/ice-coffee.webp);
}
@media screen and (min-width: 480px) {
  .ice-coffee-block::before {
    left: 60px;
  }
  .ice-coffee-block::after {
    left: 60px;
  }
}

.ice-creame-block {
  padding: 124px 40px 16px 40px;
  border-radius: 24px;
  background: #AEC6A5;
  position: relative;
}
.ice-creame-block::before {
  content: "";
  position: absolute;
  top: -98px;
  left: 40px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(156, 190, 143, 0.7)), to(rgba(156, 190, 143, 0.7))), #D9D9D9;
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7) 0%, rgba(156, 190, 143, 0.7) 100%), #D9D9D9;
  -webkit-filter: drop-shadow(0px 5.342px 20.033px rgba(10, 136, 23, 0.25));
          filter: drop-shadow(0px 5.342px 20.033px rgba(10, 136, 23, 0.25));
}
.ice-creame-block::after {
  content: "";
  position: absolute;
  top: -108px;
  left: 40px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url(../image/ice-creame.webp);
}
@media screen and (min-width: 480px) {
  .ice-creame-block::before {
    left: 60px;
  }
  .ice-creame-block::after {
    left: 60px;
  }
}

.milkshakes {
  border-radius: 24px;
  background: #D6936D;
  position: relative;
}
.milkshakes::before {
  content: "";
  position: absolute;
  top: -98px;
  left: 40px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(213, 117, 63, 0.7)), to(rgba(213, 117, 63, 0.7))), #D9D9D9;
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7) 0%, rgba(213, 117, 63, 0.7) 100%), #D9D9D9;
  -webkit-filter: drop-shadow(0px 5.413px 20.3px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 5.413px 20.3px rgba(0, 0, 0, 0.25));
}
.milkshakes::after {
  content: "";
  position: absolute;
  top: -108px;
  left: 40px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url(../image/milkshake.webp);
}
@media screen and (min-width: 480px) {
  .milkshakes::before {
    left: 60px;
  }
  .milkshakes::after {
    left: 60px;
  }
}

.block-products {
  padding: 124px 40px 16px;
}
@media screen and (min-width: 480px) {
  .block-products {
    padding: 124px 60px 16px;
    max-width: 320px;
  }
}

.list-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.traditions {
  background-color: #84A178;
  padding: 60px 0 178px 0;
  position: relative;
}

.title-tradition {
  color: #FCFCFC;
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.second-title {
  color: #FCFCFC;
  text-align: center;
  font-family: Seymour One;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.16px;
  text-transform: uppercase;
  margin-bottom: 82px;
}

.block-kow {
  width: 490px;
  height: 490px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 250px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(248, 210, 78, 0.7)), to(rgba(248, 210, 78, 0.7))), #D9D9D9;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7) 0%, rgba(248, 210, 78, 0.7) 100%), #D9D9D9;
  -webkit-box-shadow: 0px 8px 30px 0px rgba(153, 114, 23, 0.25);
          box-shadow: 0px 8px 30px 0px rgba(153, 114, 23, 0.25);
  position: relative;
}
.block-kow::after {
  content: "";
  background-image: url(../image/cow.png);
  width: 490px;
  height: 490px;
  position: absolute;
  top: 39px;
  left: 0;
}

.ice-descrp {
  color: #FCFCFC;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 176%;
  letter-spacing: 0.64px;
  margin-top: 90px;
  margin-bottom: 8px;
  max-width: 463px;
}

.traditional-descrp {
  color: #FCFCFC;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 194%;
  letter-spacing: 0.56px;
  margin-bottom: 54px;
  max-width: 463px;
}

.tradition-btn {
  padding: 12px 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  color: #000;
  background-color: #F8D24E;
  border-radius: 10px;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  border: none;
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 110px;
}

.icon-blocks {
  margin-top: 106px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.block-icon-cow {
  width: 368px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #F8D24E;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.number {
  color: #FCFCFC;
  text-align: center;
  font-family: Montserrat;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.32px;
  margin-bottom: 12px;
}

.title-block-icon-cow {
  color: #FCFCFC;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 176%;
  letter-spacing: 0.32px;
}

.block-icon-dembbell {
  width: 368px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-icon-ice {
  width: 368px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img {
  border-radius: 24px;
}

.img-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  margin-left: 77px;
}

.reviews {
  padding: 174px 0 412px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.review-section {
  background-image: url(../image/Frame.jpg);
  background-repeat: repeat;
  background-size: contain;
}

.review {
  color: #FCFCFC;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 255%;
  border-radius: 10px;
  background: #84A178;
  padding: 35px 39px;
}

.woman-peacture {
  border-radius: 50%;
  margin-bottom: 32px;
}

.comment-autor {
  color: #131313;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
  margin: 32px 0 12px 0;
}

.block-small-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.icon-slider {
  fill: #84A178;
}

.icon-slider-second {
  fill: #D9D9D9;
}

@media screen and (min-width: 480px) {
  .reviews {
    padding: 234px 0 408px 0;
  }
}
@media screen and (min-width: 768px) {
  .reviews {
    padding: 284px 0 378px 0;
  }
  .comment-autor {
    margin: 32px 0;
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews {
    padding: 464px 0 228px 0;
  }
}
.footer {
  background-color: #84A178;
  padding-top: 976px;
  position: relative;
}

.btn-locations {
  padding: 12px 40px;
  background-color: #F8D24E;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #131313;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
.btn-locations:hover {
  background-color: #0A8817;
}
.btn-locations:focus {
  background-color: #0A8817;
  color: #fff;
  fill: #fff;
}

.btn-franchise {
  padding: 10px 55px;
  background-color: transparent;
  border: 2px solid #F8D24E;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
.btn-franchise:hover {
  border: 2px solid #0A8817;
}

.btn-svg {
  margin-left: 5px;
  display: block;
  width: 12px;
  height: 12px;
}

.btns-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .btns-contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.with-descrp-ice-creame {
  color: #FCFCFC;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.36px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .with-descrp-ice-creame {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .with-descrp-ice-creame {
    font-size: 58px;
  }
}
.made-descrp-ice-creame {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .made-descrp-ice-creame {
    font-size: 26px;
    font-weight: 700;
  }
}
@media screen and (min-width: 1200px) {
  .made-descrp-ice-creame {
    font-size: 30px;
    letter-spacing: 1.02px;
    font-weight: 400;
  }
}

.footer-main-block {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer-main-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.made-ice-creame {
  width: 250px;
}

.with-ice-creame {
  max-width: 200px;
}

@media screen and (min-width: 768px) {
  .made-ice-creame {
    width: 352px;
  }
  .with-ice-creame {
    max-width: 352px;
  }
}
@media screen and (min-width: 1200px) {
  .made-ice-creame {
    width: 504px;
  }
  .with-ice-creame {
    max-width: 497px;
  }
}
.social-link {
  gap: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-bottom: 40px;
  padding-top: 18px;
}

@media screen and (min-width: 768px) {
  .social-link {
    gap: 30px;
  }
}
.social-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.footer-contacts__phone {
  color: #FCFCFC;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%;
}
.footer-contacts__phone:hover {
  color: #F8D24E;
}

.footer-contacts__descrp {
  color: #131313;
  text-align: right;
  font-family: Montserrat;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%;
}

@media screen and (min-width: 480px) {
  .footer-contacts__descrp {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  .footer-contacts__phone {
    color: #FCFCFC;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 186%;
  }
  .footer-contacts__descrp {
    color: #131313;
    text-align: right;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 186%;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts__phone {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 186%;
    letter-spacing: 0.32px;
  }
  .footer-contacts__descrp {
    color: #131313;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 186%;
    letter-spacing: 0.32px;
  }
}
.security-block {
  border-top: 1px solid #E1E1E1;
  padding: 20px 0 14px 0;
}

@media screen and (min-width: 768px) {
  .security-block {
    padding: 12px 0;
  }
}
.security {
  color: #7A7A7A;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 152%;
  display: block;
  width: 147px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .security {
    width: 298px;
  }
}
@media screen and (min-width: 1200px) {
  .security {
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.24px;
    width: 255px;
  }
}
.made-descrp-ice-creame {
  color: #FCFCFC;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .made-descrp-ice-creame {
    margin-top: 40px;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1.04px;
  }
}
@media screen and (min-width: 1200px) {
  .made-descrp-ice-creame {
    margin-top: 120px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.2px;
  }
}
.contacts {
  position: absolute;
  top: -353px;
}

.block-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
}

.table {
  padding: 40px 32px 24px;
  text-align: start;
  display: block;
  width: 280px;
  border-radius: 24px;
  background: #FFF;
  -webkit-box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
}

.title-table {
  display: inline-block;
  background-color: #F8D24E;
  padding: 4px 22px;
  border-radius: 6px;
  color: #131313;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.48px;
  margin-bottom: 20px;
}

.city {
  color: #131313;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 183%;
  letter-spacing: 0.64px;
  margin-bottom: 8px;
}

.link-address {
  color: #D6936D;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 183%;
  letter-spacing: 0.48px;
  display: block;
  width: 212px;
}

.first-block,
.second-block {
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 24px;
}

.second-block {
  margin-top: 24px;
}

.days {
  color: #131313;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.64px;
}

.time {
  color: #ABABAB;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
}

.second-plan {
  margin-top: 8px;
}

.contacts-block {
  margin-top: 24px;
  color: #131313;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.mail {
  margin-top: 6px;
}

@media screen and (min-width: 480px) {
  .contacts {
    top: -350px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 278px;
  }
  .block-footer {
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
  .cards-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contacts {
    top: -300px;
  }
  .review {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%;
    letter-spacing: 0.56px;
  }
  .title-table {
    margin-bottom: 32px;
    font-size: 16px;
    font-style: normal;
    line-height: 140%;
    letter-spacing: 0.64px;
  }
  .city {
    color: #131313;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%;
    letter-spacing: 0.64px;
    margin-bottom: 8px;
  }
  .link-address {
    color: #D6936D;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 183%;
    letter-spacing: 0.56px;
    width: 158px;
  }
  .first-block,
  .second-block {
    padding-bottom: 32px;
  }
  .second-block {
    margin-top: 32px;
  }
  .city {
    font-size: 14px;
  }
  .time {
    font-size: 14px;
  }
  .contacts-block {
    margin-top: 32px;
    font-size: 14px;
    line-height: 150%;
  }
  .mail {
    margin-top: 4px;
  }
  .table {
    padding: 40px 24px;
    width: 224px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .city {
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 474px;
  }
  .contacts {
    top: -128px;
  }
  .review {
    color: #FCFCFC;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%;
    letter-spacing: 0.64px;
  }
  .link-address {
    color: #D6936D;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 183%;
    letter-spacing: 0.64px;
    text-decoration-line: underline;
    width: 288px;
  }
  .city {
    font-size: 16px;
  }
  .time {
    font-size: 16px;
  }
  .second-plan {
    margin-top: 12px;
  }
  .first-block {
    width: 288px;
  }
  .contacts-block {
    font-size: 16px;
  }
  .table {
    padding: 40px;
    width: 368px;
  }
  .cards-list {
    gap: 28px;
  }
}/*# sourceMappingURL=main.css.map */