.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: green;
  z-index: 5;
  padding: 10px;


  transition: transform 200ms ease-in-out;

  &.show {
    display: block;
  }
  &:hover {
    transform: scale(1.2);   
  }
}

body {
  scroll-behavior: smooth;
}