footer {
  background-color: #84a178;
  padding: 935px 0 20px;
}

.item-contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.list-contacts {
  width: 280px;
  border-radius: 24px;
  background: #fcfcfc;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);

  padding: 40px 32px 24px 32px;

  @include nw(type) {
    width: 224px;
  }
}

.title-block-contact {
  color: #131313;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.48px;
  background-color: #f8d24e;
  padding: 4px 22px;
  border-radius: 4px;
  max-width: max-content;
  margin-bottom: 20px;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    letter-spacing: 0.64px;
    line-height: 140%;
  }
}

.block-address,
.block-days {
  border-bottom: 1px solid #e1e1e1;
}

.title-address {
  color: #131313;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%; /* 22.32px */
  letter-spacing: 0.48px;
  margin-bottom: 8px;
}

.address {
  color: #d6936d;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 183%;
  letter-spacing: 0.48px;
  padding-bottom: 24px;
}

.block-days {
}

.days {
  color: #131313;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
  &.main-day {
    padding-top: 24px;
  }
}

.time {
  color: #ababab;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
  &.main-time {
    margin-bottom: 8px;
  }

  &.second-time {
    padding-bottom: 24px;
  }
}

.block-contact {
}

.phone-number {
  color: #131313;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;

  padding-top: 24px;
  margin-bottom: 6px;
}

.mail-address {
  color: #131313;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
