footer {
  background-color: #84a178;
  padding: 935px 0 20px;
}

.item-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;

  @media screen and (min-width: 1200px) {
    gap: 32px;
  }
}

.list-contacts {
  width: 280px;
  border-radius: 24px;
  background: #fcfcfc;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);

  padding: 40px 32px 24px 32px;

  @media screen and (min-width: 768px) {
    width: 224px;
    padding: 40px 24px;
  }

  @media screen and (min-width: 1200px) {
    width: 368px;
  }
}

.title-block-contact {
  color: #131313;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.48px;
  background-color: #f8d24e;
  padding: 4px 22px;
  border-radius: 4px;
  max-width: max-content;
  margin-bottom: 20px;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    letter-spacing: 0.64px;
    line-height: 140%;
    margin-bottom: 32px;
    padding: 4px 14px;
    border-radius: 6px;
  }
}

.block-address,
.block-days {
  border-bottom: 1px solid #e1e1e1;
}

.title-address {
  color: #131313;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%; /* 22.32px */
  letter-spacing: 0.48px;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    letter-spacing: 0.56px;

    margin-bottom: 12px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    letter-spacing: 0.64px;

    margin-bottom: 8px;
  }
}

.address {
  color: #d6936d;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 183%;
  letter-spacing: 0.48px;

  display: block;
  margin-bottom: 24px;

  &:hover {
    text-decoration: 2px underline #d6936d;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    letter-spacing: 0.56px;

    margin-bottom: 32px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    letter-spacing: 0.64px;
  }
}

.block-days {
}

.days {
  color: #131313;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
  &.main-day {
    padding-top: 24px;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    &.main-day {
      padding-top: 32px;
    }
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    letter-spacing: 0.64px;
  }
}

.time {
  color: #ababab;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
  &.main-time {
    margin-bottom: 8px;
  }

  &.second-time {
    padding-bottom: 24px;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    color: #907e82;

    &.second-time {
      padding-bottom: 32px;
    }
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;

    &.main-time {
      margin-bottom: 12px;
    }
  }
}

.block-contact {
}

.phone-number {
  color: #131313;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;

  padding-top: 24px;
  margin-bottom: 6px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    margin-bottom: 4px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.mail-address {
  color: #131313;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 150%;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.block-btns-footer {
  display: flex;
  flex-wrap: wrap;
  max-width: max-content;
  justify-content: center;
  gap: 16px;
}

.btn-footer {
  color: #131313;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;

  background-color: #f8d24e;
  border-radius: 10px;
  display: flex;
  align-items: center;

  padding: 12px 40px;

  transition: background-color 200ms ease-in-out, outline-color 200ms ease-in-out;

  &:hover {
    background-color: #0A8817;
  }

  &:focus {
    color: #fcfcfc;

    & .icon-btns-footer {
      fill: #fcfcfc;
    }
  }

  &:disabled {
    background-color: #ABABAB;
  }

  &.franchise {
    padding: 12px 55px;
    border-radius: 10px;
    outline: 2px solid #f8d24e;

    background-color: transparent;

    &:hover {
      outline-color: #0A8817;
    }

    &:focus {
      color: #fff;
      outline-color: #0A8817;
    }

    &:disabled {
      outline-color: #ABABAB;
    }
  }
}

.btn-footer {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

.icon-btns-footer {
}
