footer {
  background-color: #84a178;
  position: relative;
}

.item-contacts {
  position: absolute;
  top: -358px;
  left: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 280px;
  gap: 16px;

  @media screen and (min-width:480px) {
    width: 440px;
    top: -358px;
  }

  @media screen and (min-width:768px) {
    top: -300px;
    width: 704px;
  }

  @media screen and (min-width: 1200px) {
    gap: 32px;
    top: -128px;
    width: 1168px;
  }
}

.list-contacts {
  width: 280px;
  border-radius: 24px;
  background: #fcfcfc;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);

  padding: 40px 32px 24px 32px;

  @media screen and (min-width: 768px) {
    width: 224px;
    padding: 40px 24px;
  }

  @media screen and (min-width: 1200px) {
    width: 368px;
  }
}

.title-block-contact {
  color: #131313;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.48px;
  background-color: #f8d24e;
  padding: 4px 22px;
  border-radius: 4px;
  max-width: max-content;
  margin-bottom: 20px;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    letter-spacing: 0.64px;
    line-height: 140%;
    margin-bottom: 32px;
    padding: 4px 14px;
    border-radius: 6px;
  }
}

.block-address,
.block-days {
  border-bottom: 1px solid #e1e1e1;
}

.title-address {
  color: #131313;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%; /* 22.32px */
  letter-spacing: 0.48px;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    letter-spacing: 0.56px;

    margin-bottom: 12px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    letter-spacing: 0.64px;

    margin-bottom: 8px;
  }
}

.address {
  color: #d6936d;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 183%;
  letter-spacing: 0.48px;

  display: block;
  margin-bottom: 24px;

  &:hover {
    text-decoration: 2px underline #d6936d;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    letter-spacing: 0.56px;

    margin-bottom: 32px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    letter-spacing: 0.64px;
  }
}

.days {
  color: #131313;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
  &.main-day {
    padding-top: 24px;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    &.main-day {
      padding-top: 32px;
    }
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    letter-spacing: 0.64px;
  }
}

.time {
  color: #ababab;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
  &.main-time {
    margin-bottom: 8px;
  }

  &.second-time {
    padding-bottom: 24px;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    color: #907e82;

    &.second-time {
      padding-bottom: 32px;
    }
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;

    &.main-time {
      margin-bottom: 12px;
    }
  }
}

.phone-number {
  color: #131313;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;

  padding-top: 24px;
  margin-bottom: 6px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    margin-bottom: 4px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.mail-address {
  color: #131313;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 150%;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.block-btns-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 280px;
  margin: 0 auto;
  gap: 16px;

  padding-top: 956px;

  @media screen and (min-width:480px) {
    padding-top: 956px;
  }

  @media screen and (min-width:768px) {
    max-width: max-content;
    padding-top: 278px;
  }

  @media screen and (min-width:1200px) {
    padding-top: 474px;
  }
}

.btn-footer {
  color: #131313;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;

  background-color: #f8d24e;
  border-radius: 10px;
  display: flex;
  align-items: center;

  padding: 12px 40px;

  transition: background-color 200ms ease-in-out,
    outline-color 200ms ease-in-out;

  &:hover {
    background-color: #0a8817;
  }

  &:focus {
    color: #fcfcfc;

    & .icon-btns-footer {
      fill: #fcfcfc;
    }
  }

  &:disabled {
    background-color: #ababab;
  }

  &.franchise {
    padding: 12px 55px;
    border-radius: 10px;
    outline: 2px solid #f8d24e;

    background-color: transparent;

    &:hover {
      outline-color: #0a8817;
    }

    &:focus {
      color: #fff;
      outline-color: #0a8817;
    }

    &:disabled {
      outline-color: #ababab;
    }
  }
}

.btn-footer {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

.block-title-footer {
  margin-top: 60px;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 120px;
  }
}

.smoll-title {
  color: #fcfcfc;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  width: 232px;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    letter-spacing: 1.04px;
    font-weight: 400;

    margin-bottom: 8px;
    width: 352px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    letter-spacing: 1.2px;

    margin-bottom: 14px;
    width: 504px;
  }
}

.big-title {
  color: #fcfcfc;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.36px;
  text-transform: uppercase;
  width: 200px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    letter-spacing: 2.88px;
    width: 352px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    font-weight: 700;
    letter-spacing: 3.48px;
    width: max-content;
  }
}

.social-link-item {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
  margin-bottom: 20px;
  gap: 20px;

  @media screen and (min-width: 768px) {
    margin-top: 100px;
    margin-bottom: 34px;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 138px;
    margin-bottom: 40px;
  }
}

.descrp-footer {
  color: #131313;
  text-align: right;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    letter-spacing: 0.32px;
  }
}

.phone-number-footer {
  color: #fcfcfc;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    letter-spacing: 0.32px;
  }
}

.block-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}

.block-security {
  margin-top: 40px;
}

.line-security {
  border: 1px solid #e1e1e1;
}

.descrp-security {
  color: #7a7a7a;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 152%;
  width: 148px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px 0 24px;

  @media screen and (min-width: 480px) {
    width: 154px;
  }

  @media screen and (min-width: 768px) {
    width: max-content;
    line-height: 186%;
    letter-spacing: 0.28px;

    padding: 12px 0;
  }

  @media screen and (min-width: 1200px) {
    font-size: 12px;
    letter-spacing: 0.24px;
  }
}
