.hero {
    background-color: #84a178;

}

.hero-conteiner {
    display: flex;
    background-image: url(../image/Крапки-mobile-320.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 320px;

    position: relative;
}

.title-p {
    padding-top: 50px;

    color: #FCFCFC;
    font-family: "Seymour One";
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.52px;
    text-transform: uppercase;

    width: 367px;

    @media screen and (min-width:480px) {
        padding-top: 40px;
    }

    @media screen and (min-width:768px) {
        padding-top: 14px;
    }

    @media screen and (min-width:1200px) {
        padding-top: 45px;
    }


    @media screen and (max-width:1199px) {
        font-family: Seymour One;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.04px;
        text-transform: uppercase;

        width: 247px;

        & .content-paragraph {
            display: block;
            width: 247px;

            font-family: 'Seymour One';
            font-size: 33px;
            font-style: normal;
            line-height: 96.5%;
            text-transform: uppercase;
        }
    }
}

.block-hero {
    display: flex;
    flex-direction: column;
}

.title {
    margin-right: auto;

    @media screen and (min-width:480px) {
        padding-bottom: 150px;
    }
}

.btn-hero {
    color: #131313;
    text-align: center;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    padding: 12px 34px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    outline: 3px solid #F8D24E;

    @media screen and (max-width:1199px) {
        color: #131313;
        font-size: 12px;
        line-height: normal;
        padding: 11px 26px;
    }
}

.btn-link-hero {
    display: flex;
    align-items: baseline;
    gap: 12px;

    margin-top: 28px;
}

.link-hero {
    color: #F8D24E;
    text-align: center;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
    padding: 12px 22px;
    border: none;
    background-color: transparent;

    transition: color 250ms ease;

    &:hover {
        color: #0A8817;
    }

    @media screen and (max-width:1199px) {
        font-size: 12px;
        padding: 7px 0 7px 6px;
    }
}

.pescture {
    display: flex;
    gap: 16px;

    margin-top: 42px;
}

.descrp-ice {
    color: #FFF;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    width: 200px;
    padding-top: 67px;
    padding-bottom: 24px;

    @media screen and (max-width:1199px) {
        color: #FCFCFC;
        font-family: Seymour One;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.04px;
        text-transform: uppercase;
    }
}

.picrure-descrp {
    @media screen and (max-width:1199px) {
        display: none;
    }
}

.price-ice {
    display: flex;
    justify-content: end;
}

.price-title {
    text-align: end;
    margin-top: 53px;

    @media screen and (max-width:1199px) {
        display: none;
    }
}

.first-pr {
    margin-bottom: 16px;
}

.price {
    color: #131313;
    text-align: right;
    font-family: Montserrat;
    font-size: 46px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.84px;
    text-transform: uppercase;

    margin-bottom: 4px;
}

.name {
    color: #FCFCFC;
    text-align: right;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.big-peacture {
    padding-top: 31px;
    display: block;

    // position: absolute;
    // bottom: 0;
    // left: 0;

    @media screen and (max-width:1199px) {
        padding-right: 7px;
        padding-top: 19px;
    }

    @media screen and (min-width:480px) {
        position: absolute;
        bottom: 0;
        right: 0;

        padding-right: 0;
    }
}