.hero {
    background-color: #84A178;
}

.hero-wrapper {}

.block-hello-hero {}

.title-hero {
    color: #FCFCFC;
    font-family: 'Seymour One';
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.04px;
    text-transform: uppercase;

    width: 247px;
}

.block-btns {
    display: flex;
    gap: 12px;
}

.btn-Products {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    outline: 2px solid #F8D24E;

    padding: 12px 26px;

    &:hover {
        outline-color: #0A8817;
    }
}

.btn-How-made {
    color: #F8D24E;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;

    &:hover {
        color: #0A8817;
    }

    &:focus {
        color: #FCFCFC;
    }

    &:disabled {
        color: #ABABAB;
    }
}

.block-descrp-hello-hero-wrapper {
    display: none;
}

.block-img-price {}

.descrp-img {}

.icon-arrow {}

.block-img-price {}

.hero-img {}

.numer {}

.descrp-number {}