.products {
  padding: 60px 0;

  background-image: url(../image/bacrgound_mobile.webp);

  @media screen and (min-width: 768px) {
    background-image: url(../image/background_tablet.webp);
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../image/bacground_desktop.webp);
  }
}

.title-products {
  color: #131313;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    font-size: 22px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    letter-spacing: 1.2px;
  }
}

.name-section {
  color: #131313;
  text-align: center;
  font-family: "Seymour One";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 148px;

  @media screen and (min-width: 480px) {
    margin-bottom: 144px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 200px;
    font-size: 34px;
    letter-spacing: 1.36px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 304px;
    font-size: 36px;
    letter-spacing: 2.16px;
  }
}

.products-block-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 168px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 16px;
  }

  @media screen and (min-width: 1200px) {
    gap: 29px;
  }
}

.ice-creame-block {
  background-color: #aec6a5;
  position: relative;
  border-radius: 24px;
  width: 280px;

  &::before {
    content: "";
    position: absolute;
    top: -98px;
    left: 40px;
    width: 200px;
    height: 200px;
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7) 0%,
        rgba(156, 190, 143, 0.7) 100%
      ),
      #d9d9d9;
    filter: drop-shadow(0px 5.342px 20.033px rgba(10, 136, 23, 0.25));
    border-radius: 50%;
  }

  &::after {
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    top: -108px;
    left: 40px;
    background-image: url(../image/ice-creame.webp);
    border-radius: 50%;
  }

  @media screen and (min-width: 480px) {
    width: 320px;
    &::before {
      top: -94px;
      left: 60px;
    }

    &::after {
      top: -106px;
      left: 60px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 224px;
    &::before {
      top: -108px;
      left: 12px;
    }

    &::after {
      top: -120px;
      left: 12px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 370px;

    &::before {
      width: 302px;
      height: 302px;
      top: -168px;
      left: 34px;
    }

    &::after {
      width: 302px;
      height: 302px;
      background-image: url(../image/ice-creame-desktop.webp);
      top: -184px;
      left: 34px;
    }
  }
}

.ice-coffee-block {
  background-color: #efd478;
  border-radius: 24px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -98px;
    left: 40px;
    width: 200px;
    height: 200px;
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7) 0%,
        rgba(248, 210, 78, 0.7) 100%
      ),
      #d9d9d9;
    filter: drop-shadow(0px 5.404px 20.265px rgba(153, 114, 23, 0.25));
    border-radius: 50%;
  }

  &::after {
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    top: -108px;
    left: 40px;
    background-image: url(../image/ice-coffee.webp);
    border-radius: 50%;
  }

  @media screen and (min-width: 480px) {
    width: 320px;
    &::before {
      top: -94px;
      left: 60px;
    }

    &::after {
      top: -106px;
      left: 60px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 224px;
    &::before {
      top: -108px;
      left: 12px;
    }

    &::after {
      top: -120px;
      left: 12px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 370px;

    &::before {
      width: 302px;
      height: 302px;
      top: -168px;
      left: 34px;
    }

    &::after {
      width: 302px;
      height: 302px;
      background-image: url(../image/ice-coffee-desktop.webp);
      top: -184px;
      left: 34px;
    }
  }
}

.milkshakes {
  background-color: #d6936d;
  border-radius: 24px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -98px;
    left: 40px;
    width: 200px;
    height: 200px;
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7) 0%,
        rgba(213, 117, 63, 0.7) 100%
      ),
      #d9d9d9;
    filter: drop-shadow(0px 5.413px 20.3px rgba(0, 0, 0, 0.25));
    border-radius: 50%;
  }

  &::after {
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    top: -108px;
    left: 40px;
    background-image: url(../image/milkshake.webp);
    border-radius: 50%;
  }

  @media screen and (min-width: 480px) {
    width: 320px;
    &::before {
      top: -94px;
      left: 60px;
    }

    &::after {
      top: -106px;
      left: 60px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 224px;
    &::before {
      top: -108px;
      left: 12px;
    }

    &::after {
      top: -120px;
      left: 12px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 370px;

    &::before {
      width: 302px;
      height: 302px;
      top: -168px;
      left: 34px;
    }

    &::after {
      width: 302px;
      height: 302px;
      background-image: url(../image/milkshakes-desktop.webp);
      top: -184px;
      left: 34px;
    }
  }
}

.block-products {
  padding: 124px 40px 16px;
  display: flex;
  flex-direction: column;
  height: 420px;

  @media screen and (min-width: 480px) {
    padding: 126px 60px 16px;
    height: 428px;
  }

  @media screen and (min-width: 768px) {
    padding: 108px 26px 16px;
  }

  @media screen and (min-width: 1200px) {
    padding: 166px 64px 60px;
    height: 536px;
  }
}

.title-block {
  color: #131313;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    letter-spacing: 0.88px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    letter-spacing: 1.2px;
  }
}

.descrp-block {
  color: #131313;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 176%;
  letter-spacing: 0.56px;
  margin-top: 40px;
  width: 200px;

  @media screen and (min-width: 768px) {
    width: 172px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 66px;
    width: 246px;
    font-size: 16px;
    letter-spacing: 0.64px;
  }
}

.btn-products {
  margin-top: auto;
  transition: transform 200ms ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}
