.produsts {
    padding: 60px 0;
    background-image: url(../image/bacrgound_mobile.webp);
    background-size: contain;

    @media screen and (min-width:768px) {
        background-image: url(../image/background_tablet.webp);
    }

    @media screen and (min-width:1200px) {
        background-image: url(../image/bacground_desktop.webp);
    }

}

.title-products {
    color: #131313;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;

    margin-bottom: 12px;

    @media screen and (min-width:768px) {
        font-size: 22px;
    }

    @media screen and (min-width:1200px) {
        font-size: 30px;
        letter-spacing: 1.2px;
    }
}

.name-section {
    color: #131313;
    text-align: center;
    font-family: "Seymour One";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;

    margin-bottom: 148px;

    @media screen and (min-width:480px) {
        margin-bottom: 144px;
    }

    @media screen and (min-width:768px) {
        font-size: 34px;
        letter-spacing: 1.36px;
    }

    @media screen and (min-width:1200px) {
        font-size: 36px;
        letter-spacing: 2.16px;
        margin-bottom: 304px;
    }
}

.products-block-item {
    display: flex;
    flex-direction: column;
    gap: 168px;

    @media screen and (min-width:768px) {
        flex-direction: row;
        gap: 16px;
    }

    @media screen and (min-width:768px) {
        flex-direction: row;
        gap: 29px;
    }
}

.title-block {
    color: #131313;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;

    margin-bottom: 40px;

    @media screen and (min-width:768px) {
        font-size: 22px;
        letter-spacing: 0.88px;
    }

    @media screen and (min-width:1200px) {
        font-size: 30px;
        letter-spacing: 1.2px;
        margin-bottom: 66px;
    }
}

.descrp-block {
    color: #131313;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 176%;
    letter-spacing: 0.56px;
    max-width: 200px;
    max-height: 148px;

    @media screen and (min-width:768px) {
        max-width: 172px;
        max-height: 174px;
    }

    @media screen and (min-width:1200px) {
        font-size: 16px;
        letter-spacing: 0.64px;
        max-width: 242px;
        max-height: 142px;
    }
}

.icon-strelka {
    fill: #131313;
}

.btn-products {
    background-color: transparent;
    margin: auto auto 0;
    width: 45px;

    &:hover .icon-strelka {
        scale: 1.2;
        transition: scale 200ms cubic-bezier(.97, .8, .51, 1.57);
    }
}

.ice-coffee-block {
    border-radius: 24px;
    background: #EFD478;

    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: -98px;
        left: 40px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: linear-gradient(0deg, rgba(248, 210, 78, 0.70) 0%, rgba(248, 210, 78, 0.70) 100%), #D9D9D9;
        filter: drop-shadow(0px 5.404px 20.265px rgba(153, 114, 23, 0.25));
    }

    &::after {
        content: '';
        position: absolute;
        top: -108px;
        left: 40px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-image: url(../image/ice-coffee.webp);
    }

    @media screen and (min-width:480px) {
        &::before {
            left: 60px;
            top: -94px;
        }

        &::after {
            left: 60px;
        }
    }

    @media screen and (min-width:768px) {
        &::before {
            top: -108px;
            left: 12px;
        }

        &::after {
            top: -120px;
            left: 12px;
        }
    }

    @media screen and (min-width:1200px) {
        &::before {
            width: 302px;
            height: 302px;
            top: -168px;
            left: 34px;
        }

        &::after {
            background-image: url(../image/ice-coffee-desktop.webp);
            width: 302px;
            height: 302px;
            top: -168px;
            left: 34px;
        }
    }
}

.ice-creame-block {
    border-radius: 24px;
    background: #AEC6A5;

    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: -98px;
        left: 40px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: linear-gradient(0deg, rgba(156, 190, 143, 0.70) 0%, rgba(156, 190, 143, 0.70) 100%),
            #D9D9D9;
        filter: drop-shadow(0px 5.342px 20.033px rgba(10, 136, 23, 0.25));
    }

    &::after {
        content: '';
        position: absolute;
        top: -108px;
        left: 40px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-image: url(../image/ice-creame.webp);
    }

    @media screen and (min-width:480px) {
        &::before {
            left: 60px;
        }

        &::after {
            left: 60px;
        }
    }

    @media screen and (min-width:768px) {
        &::before {
            top: -108px;
            left: 12px;
        }

        &::after {
            top: -120px;
            left: 12px;
        }
    }

    @media screen and (min-width:1200px) {
        &::before {
            top: -168px;
            left: 34px;
            width: 302px;
            height: 302px;
        }

        &::after {
            background-image: url(../image/ice-creame-desktop.webp);
            top: -168px;
            left: 34px;
            width: 302px;
            height: 302px;
        }
    }
}

.milkshakes {
    border-radius: 24px;
    background: #D6936D;

    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: -98px;
        left: 40px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: linear-gradient(0deg, rgba(213, 117, 63, 0.70) 0%, rgba(213, 117, 63, 0.70) 100%),
            #D9D9D9;
        filter: drop-shadow(0px 5.413px 20.3px rgba(0, 0, 0, 0.25));
    }

    &::after {
        content: '';
        position: absolute;
        top: -108px;
        left: 40px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-image: url(../image/milkshake.webp);
    }

    @media screen and (min-width:480px) {
        &::before {
            left: 60px;
        }

        &::after {
            left: 60px;
        }
    }

    @media screen and (min-width:768px) {
        &::before {
            top: -108px;
            left: 12px;
        }

        &::after {
            top: -120px;
            left: 12px;
        }
    }

    @media screen and (min-width:1200px) {
        &::before {
            top: -168px;
            left: 34px;
            width: 302px;
            height: 302px;
        }

        &::after {
            top: -168px;
            left: 34px;
            width: 302px;
            height: 302px;
            background-image: url(../image/milkshakes-desktop.webp);
        }
    }
}

.block-products {
    padding: 124px 40px 16px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 480px) {
        padding: 124px 60px 16px;
    }

    @media screen and (min-width: 768px) {
        padding: 108px 26px 12px;

    }

    @media screen and (min-width: 1200px) {
        padding: 165px 64px 60px;
    }
}

.list-products {
    display: flex;
    justify-content: center;

    height: 420px;

    @media screen and (min-width:480px) {
        height: 428px;
    }

    @media screen and (min-width:1200px) {
        height: 536px;
    }
}

.backdrop {
    width: 100%;
    height: 354%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-products-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    // height: 200px;
    background-color: #FCFCFC;
    padding: 28px 20px;
}

.btn-modal-prod {
    background-color: transparent;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 20px;
    height: 20px;
}

.close-icon-prod {
    width: 20px;
    height: 20px;
    fill: #131313;
}

.title-modal {
    color: #131313;
    text-align: center;
    font-family: "Seymour One";
    font-size: 20px;
    font-style: normal;
    line-height: 28px;
}

.block-img-chocolate {
    &::after {
        content: '';
        position: absolute;
        top: 104px;
        left: 74px;
        background: url(../image/small-ice-creame.webp) lightgray 50% / cover no-repeat;
        display: block;
        width: 132px;
        height: 132px;
        border-radius: 50%;
    }

    &::before {
        content: '';
        position: absolute;
        top: 112px;
        left: 74px;
        background: linear-gradient(0deg, rgba(156, 190, 143, 0.70));
        display: block;
        width: 132px;
        height: 132px;
        border-radius: 50%;
    }
}

.number-prod {
    background-color: #9CBE8F;
    filter: drop-shadow(0px 6px 20px rgba(10, 136, 23, 0.25));
    border-radius: 50%;

    color: #131313;
    text-align: center;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    height: 44px;
    width: 44px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.block-prod {
    width: 53px;
    height: 76px;
    border-radius: 40px;
    text-align: center;
    display: block;
    margin-top: auto;
    border: 2px solid #9CBE8F;

    color: #131313;
    text-align: center;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item-characteristic {
    margin-top: 182px;
    display: flex;
    gap: 9px;
    position: relative;
}

.descrp-prod {
    margin-top: 8px;
}

.name-ingredients {
    color: #131313;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 176%;
    letter-spacing: 0.56px;
}

.title-ingredients {
    color: #131313;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;

    margin-top: 40px;
}

.block-ingredients {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.name-ingredients,
.number-ingred {
    color: #131313;
    text-align: start;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 176%;
    letter-spacing: 0.56px;
}

.number-ingred {
    text-align: end;
}

.list-name-ingred:not(:last-child),
.list-number-ingred:not(:last-child) {
    margin-bottom: 12px;
}

.scroll-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;

    display: block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: rgba(132, 161, 120, 1);

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        transform: scale(1.5);
        transition: transform 200ms ease-in-out;

    }

    &:active {
        background-color: rgba(128, 176, 108, 0.4);
    }
}