.reviews {
    padding: 174px 0 412px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.review-section {
    background-image: url(../image/Frame.jpg);
    background-repeat: repeat;
    background-size: contain;
}

.review {
    color: #FCFCFC;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 255%;

    // width: 280px;

    border-radius: 10px;
    background: #84A178;

    padding: 35px 39px;
}

.woman-peacture {
    border-radius: 50%;
    margin-bottom: 32px;
}

.comment-autor {
    color: #131313;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%;
    margin: 32px 0 12px 0;
}

.block-small-icon {
    display: flex;
    gap: 10px;
}

.icon-slider {
    fill: #84A178;
}

.icon-slider-second {
    fill: #D9D9D9;
}

@media screen and (min-width:480px) {
    .reviews {
        padding: 234px 0 408px 0;
    }
}

@media screen and (min-width:768px) {
    .reviews {
        padding: 284px 0 378px 0;
    }

    .comment-autor {
        margin: 32px 0;

        font-size: 16px;
    }
}

@media screen and (min-width:1200px) {
    .reviews {
        padding: 464px 0 228px 0;
    }
}